body {
  font-family: 'Raleway', serif;
}

.loginWrapper {
  display: flex;
  height: 100vh;
  /* background-color: yellow; */
}

.left .disaplyImg {
  height: 100%;
  width: 50vw;

  @media screen and (max-width: 950px) {
	width: 0px;
  }

}

.left .logoImg {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 5%;
  top: 10%;
}

.right {
  width: 50vw;
  padding: 10% 10%;
  /* background-color: aqua; */
  @media screen and (max-width: 950px) {
	padding-top: 30vh;
  }
}

.right .title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  /* background-color: yellow; */
  /* line-height: 74px; */
  /* identical to box height, or 116% */

  letter-spacing: -0.02em;
}

.right .subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* line-height: 34px; */
  /* identical to box height, or 142% */

  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Blue / 100 */

  color: #44A8FF;
  /* background-color: yellow; */
}

.subError {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #ff445a;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: #FFFFFF;
  box-shadow: 0px 10px 35px -3px rgba(58, 70, 85, 0.15);
}

.navbar-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navTitle {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */

  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Dark / 100 */

  color: #151F28;
}

.navbar .logoImg {
  width: 51.2px;
  height: 53.92px;
}

.logoutBtn {
  align-self: flex-end;
}

.content {
  width: 80vw;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding-bottom: 20px;
}

.content .title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Dark / 100 */

  color: #151F28;
}

.testName {
  text-transform: capitalize;
}

.vector1, .vector2, .vector3 {
  z-index: -1;
}

.vector1 {
  position: fixed;
  left: 0;
  bottom: 10%;
}

.vector2 {
  position: fixed;
  bottom: 0;
  right: 20%;
}

.vector3 {
  position: absolute;
  right: 0;
  top: 1%;
}

.ub-fnt-fam_b77syt {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.subtitle {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #151F28;
}


.fancyThing {
  height: 40vh;
  background: url("assets/Rectangle 1115.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 950px) {
	flex-direction: column;
  }

}

.welcomeMessage {
  font-family: 'Raleway', sans-serif;
  margin-left: 15%;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #FFFFFF;
  @media screen and (max-width: 950px) {
	margin-left: 0;
  }
  @media screen and (max-width: 850px) {
	font-size: 46px;
	margin-left: 0;
  }
}

.sinatraLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.21) 38.12%, rgba(255, 255, 255, 0) 84.35%);
  border-radius: 227px;
  padding: 30px 15% 30px 30px;
  margin-right: 100px;
  @media screen and (max-width: 950px) {
	background: rgba(255, 255, 255, 0.21);
	padding: 15px;
	margin-right: 0px;

	border-radius: 135.079px;
  }
}

.sinatraName {
  font-family: 'Raleway', sans-serif;
  padding-left: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  @media screen and (max-width: 850px) {
	font-size: 46px;
	padding-left: 10px;
  }
}

.contentSection {

}

.pill1 {
  position: absolute;
  width: 30%;
  height: 187px;
  left: 63vw;
  top: 633px;
  background: linear-gradient(90deg, #44A8FF 0%, rgba(68, 168, 255, 0) 84.35%);
  opacity: 0.2;
  border-radius: 227px;
  z-index: -1;
  overflow: hidden;
}

.pill2 {
  position: absolute;
  width: 363px;
  height: 171px;
  left: 10vw;
  top: 877px;
  background: linear-gradient(90deg, #B765E5 0%, rgba(183, 101, 229, 0) 79.2%);
  opacity: 0.2;
  border-radius: 227px;
  z-index: -1;
  overflow: hidden;
}

.pill3 {
  position: absolute;
  width: 30%;
  height: 187px;
  left: 30vw;
  top: 1020px;
  background: linear-gradient(90deg, #F08357 0%, rgba(240, 131, 87, 0) 80.78%);
  opacity: 0.2;
  border-radius: 227px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
  overflow: hidden;
}

.prompt {
  position: relative;
  width: 80%;
  min-width: 200px;
  max-width: 600px;
  height: 335px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -160px;
  padding-top: 180px;
  background: #FFFFFF;
  box-shadow: 0px 54px 89px -10px rgba(41, 45, 50, 0.1);
  border-radius: 94px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.basicText {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #151F28;
  padding-right: 5px;
  padding-left: 5px;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  width: auto;
}

.fancyButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  gap: 5px;
  height: 42px;
  background: linear-gradient(180deg, #44A8FF 0%, #44A8FF 0.01%, #448FFF 100%);
  border-radius: 110px;
  border: none;
  color: #ffffff;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  min-width: 100px;
  max-width: fit-content;

  &Prev {
	@extend .fancyButton;
	background: #E7EAEF;
	color: #151F28;
  }

  &Full {
	@extend .fancyButton;
	max-width: none;
	width: 100%;
  }

  &Fullish {
	@extend .fancyButton;
	max-width: 300px;
	width: 100%;
  }
}

#purpleButton {
  background: linear-gradient(180deg, #C466F9 0%, #C482E9 0.01%, #B04FC9 100%);
}

#purpleButton:hover {
  background: linear-gradient(180deg, #d388ff 0%, #cb97ee 0.01%, #c876de 100%);
}

#redButton {
  background: linear-gradient(180deg, #f96677 0%, #e98282 0.01%, #c94f4f 100%);
}

#redButton:hover {
  background: linear-gradient(180deg, #f9669e 0%, #e99182 0.01%, #c9744f 100%);
}

.fancyButton:disabled {
  background: #c2c2c2;
}

.fancyButton:hover {
  background: linear-gradient(180deg, #9fc1e7 0%, #7dbdf5 0.01%, #75aafa 100%);
}

.fancyButtonPrev:hover {
  background: #b5b5bb;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
  justify-items: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  @media screen and (max-width: 850px) {
	flex-direction: column;
	align-items: center;
  }
}

.sectionHeader {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #4CC0B2;
  margin-right: 250px;
  margin-bottom: 30px;
  margin-top: 5px;
  min-width: 100%;
}

.circle {
  border-radius: 50%;
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  padding: 2px;
  margin-right: 10px;
  border: 2px solid #4CC0B2;
  color: #4CC0B2;
  text-align: center;
  font: 24px Arial, sans-serif;
}

.gib {
  position: absolute;
  width: 556px;
  height: 185px;
  left: 38px;
  top: 96px;

  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 84.35%);
  opacity: 0.2;
  border-radius: 226.787px;
  @media screen and (max-width: 850px) {
	opacity: 0;
	width: 0;
  }
}

.gib2 {
  position: absolute;
  width: 890px;
  height: 235px;
  left: -100px;
  top: 380px;
  z-index: -1;

  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 84.35%);
  opacity: 0.3;
  border-radius: 226.787px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  @media screen and (max-width: 850px) {
	opacity: 0;
	width: 0;
  }
}

.linker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 10px 13px;
  gap: 10px;
  min-width: 160px;
  height: 46px;
  border-radius: 60px;
  background: rgba(241, 241, 241, 0.7);
}

.linker:hover {
  background: rgba(211, 211, 211, 0.7);
}

.linkerText {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  padding-top: 6px;
}

.linker#red {
  background: rgba(249, 210, 224, 0.7);
}

.linker:hover#red {
  background: rgba(255, 158, 190, 0.7);
}

.linkerText#red {
  color: #EB6E9B;

}

img#red {
  filter: invert(64%) sepia(50%) saturate(2210%) hue-rotate(299deg) brightness(97%) contrast(90%);
}


.linker#green {
  background: rgba(195, 234, 229, 0.7);

}

.linker:hover#green {
  background: rgba(155, 225, 217, 0.7);
}

.linkerText#green {
  color: #267D73;
}

img#green {
  filter: invert(41%) sepia(88%) saturate(303%) hue-rotate(124deg) brightness(85%) contrast(95%);
}


.linker#purple {
  background-color: #EFE5FB;

}

.linker:hover#purple {
  background-color: #d6b7fd;
}

.linkerText#purple {
  color: #66208f;
}

img#purple {
  filter: invert(78%) sepia(60%) saturate(7420%) hue-rotate(241deg) brightness(96%) contrast(86%);
}

.bobble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 13px 6px 9px;
  gap: 8%;
  max-width: 89px;
  height: 37px;
  border-radius: 60px;
  flex: none;
  order: 1;
  flex-grow: 0;

  p {
	font-style: normal;
	font-weight: 500;
	font-max-size: 16px;
	line-height: 26;
	margin-top: 10px;
  }

  img {
	max-width: 24px;
	height: auto;
  }

}

.nextButton {
  padding: 18px 14px;
  width: 213px;
  height: 56px;
  background: #151F28;
  border-radius: 14px;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.2s;
  border: none;

  &:hover {
	background: #565a62;
  }

  &#warning {
	background: #c24063;

	&:hover {
	  background: #d05e7d;
	}
  }

  &#go {
	background: #52BD95;

	&:hover {
	  background: #419676;
	}
  }

  &#blue {
	background: #44A8FF;

	&:hover {
	  background: #2a91ec;
	}
  }

  &#prev {
	background: #E7EAEF;
	color: #151F28;

	&:hover:not(&:disabled) {
	  background: #b4b4b4;
	}

	&:disabled {
	  color: #5b5b5d;
	  cursor: not-allowed;
	}
  }
}

.nextButtonContentful {
  @extend .nextButton;
  width: auto;
}

.nextButtonBubbled {
  @extend .nextButton;
  width: auto;
  border-radius: 70px;

}

.prevButton {
  padding: 18px 14px;
  width: 213px;
  height: 56px;
  background: #E7EAEF;
  border-radius: 14px;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #151F28;
  border: none;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  gap: 5px;
  transition: 0.2s;
}

.prevButton:hover {
  background: #b4b4b4;
}


.pillButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 18px;
  gap: 10px;
  transition: 0.2s;
  background: #151F28;
  border-radius: 70px;
  border: none;

  p {
	padding-top: 8px;
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -0.02em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
	align-self: center;
	text-align: center;
  }

  &:hover {
	background: #40484f;

  }

  &#selected {
	background: #E7EAEF;

	p {
	  color: #000;
	}
  }

  &:hover#selected {
	background: #c0c0c0;
  }
}

.coloredHeading {
  background-image: url("assets/img/Frame 1.png");
  height: 200px;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;

  h1 {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 75px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
  }
}


.centerContent {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;

}

.incrementerBox {
  box-sizing: border-box;
  height: 41px;
  background: #FFFFFF;
  border: 2px solid #B3BBCC;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  max-width: fit-content;

  p {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	letter-spacing: -0.02em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #151F28;
	min-width: 20px;
  }

  button {

	background: none;
	border: none;
	transition: 0.7ms;

	&:hover {
	  color: rgba(0, 0, 0, 0.3)
	}
  }
}

.viewHeader {
  background: #FFFFFF;
  box-shadow: 0px 10px 35px -3px rgba(58, 70, 85, 0.08);
  min-height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  padding: 25px 12% 20px 20px;
}

.contentTile {
  width: 127px;
  height: 180px;
  border: 1px solid #E7EAEF;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 6px;
  gap: 5px;
  cursor: pointer;
  transition: 0.15s;

  img {
	background: #F3F4F7;
	border-radius: 8px;
	object-fit: cover;
	padding: 15px;
  }

  p {
	text-align: center;
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: -0.02em;
	color: #000000;
  }

  &:hover {
	background: #F3F4F7;
  }
}

.tileArea {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  width: 70vw;

}

.tileHeader {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-left: 10%;
  padding-top: 10px;

  h3 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #151F28;
  }

}

.contentBox {
  box-sizing: border-box;
  border: 1px solid #E7EAEF;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  width: 474px;
  height: 145px;
  padding: 12px;
  margin: 20px;
  gap: 10px;

  img {
	object-fit: cover;
	width: 100px;
	padding: 3px;
	border-radius: 12px;
	background-color: #E7EAEF;
  }

  .titleArea {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media screen and (max-width: 950px) {
	  flex-direction: column;
	}
  }

  @media screen and (max-width: 950px) {
	width: 300px;
	margin: 0;
  }
}

.wireButton {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #151F28;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  transition: 0.2s;
  box-sizing: border-box;
  align-items: center;
  padding: 6px 0px;
  width: 62px;
  min-height: 38px;
  border: 1.7px solid #151F28;
  border-radius: 120px;
  background: white;

  &:hover {
	background: #151F28;
	color: white;
  }
}


.dangerButton {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  background: rgb(245, 164, 164);
  transition: 0.2s;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 10px;
  min-width: 52px;
  min-height: 38px;
  border-radius: 120px;
  border: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 2px;

  p {
	color: white;
	margin-top: 7px;
  }

  &:hover {
	background: rgb(215, 68, 68);
	color: white;
  }
}

.postsViewer {
  overflow: auto;
}

.catalogue {

  display: flex;
  flex-direction: column;
  min-width: 310px;
  max-width: 310px;
  padding: 12px;
  border-radius: 12px;
  background-color: #E7EAEF;
  max-height: 700px;
  min-height: 700px;

  @media screen and (max-width: 1200px) {
	min-width: 90%;
	max-width: 90%;
	max-height: 400px;
	min-height: 400px;
  }

}

.images {
  overflow-y: auto;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 10px;

  img {
	border-radius: 10px;
	width: 127px;
	height: 158px;
	object-fit: cover;

	&#selected {
	  border: #44A8FF solid 4px;
	}

  }
}


.contentEditorArea:not(.phonePreview) {
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;

  img {
	border-radius: 10px;
	width: 268px;
	height: 336px;
	object-fit: cover;
	@media screen and (max-width: 950px) {
	  height: 236px;
	  width: auto;
	}
  }

  textarea {
	background: #F3F4F7;
	border-radius: 14px;
	border: none;
	padding: 18px 16px;
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	line-height: 33px;
	color: black;

	&:focus {
	  outline: none;
	  border: 0.5px solid #b1b1b2;
	}

	@media screen and (max-width: 950px) {
	  min-height: 250px;
	  font-size: 16px;
	}
  }
}


.postsArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(474px, max-content));
  grid-gap: 16px;
  justify-content: center;
  padding: initial;
  width: 100%;

  @media screen and (max-width: 950px) {
	grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  }
}

.contentTitleEdit {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0);
  border-style: none;
  font-weight: bold;
  font-size: 40px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #151F28;
  resize: none;
  max-width: 70vw;
  height: 70px;

  &:focus {
	border: none;
	outline: none;
  }
}

.modal-header {
  border: none;
  align-self: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-body {
  border: none;
  align-self: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phonePreview {
  //background-image: ;

  img {
	width: auto;
	height: 600px;
  }
}

.downloadButton {
  padding: 9px 9px 4px;
  background: #151F28;
  border-radius: 100px;
  transition: 0.2s;
  border: none;

  &:hover {
	background: #565a62;
  }
}

.collapseArea {

  width: 500px;
  max-width: 500px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;

  p {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 26px;
  }

}

.clickableSection {

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;

  h5 {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
  }

}
